.Nav{
    background: #0C3D73;
    height: 100px;
}

.Titul{
    margin-left: 400px !important;
    font-size: 30px !important;
    
}

.pru{
    font-size: 18px !important;
}

.btn{
    margin-left: 690px !important; 
    width: 130px;
}

