/* Banner.css */

/* Estilos para las imágenes del carrusel */
.carousel-item img {
    width: 1990px !important; /* Establece el ancho que desees, por ejemplo, 300px */
    height: 500px; /* Permite que la altura se ajuste automáticamente */
    align-items: center !important;
  }
  