/* Estilo para la barra de navegación */
.navbarC {
    background-color: blue; /* Fondo azul */
    overflow: hidden;
}

.dashboard{
    background: white;
}

/* Estilo para los enlaces de la barra de navegación */
.navbar label {
    float: left;
    display: block;
    color: black; /* Texto en color blanco */
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.containers{
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 20px;
}

#lecturas{
    display: flex;
    justify-content:space-between;
    gap: 200px;
}
#lecturas2{
    display: flex;
    justify-content: center;
    gap: 180px;
}

.circle {
    width: 250px;
    height: 250px;
    background-color: #3498db; /* Cambia el color de fondo según tus preferencias */
    border-radius: 50%; /* Esto crea la forma de círculo */
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 50px;
    align-items: center;
    color: #fff; /* Cambia el color del texto dentro del círculo */
    margin-right: 90px;
  }
  
.circle2 {
    width: 250px;
    height: 250px;
    background-color: #72cda9; /* Cambia el color de fondo según tus preferencias */
    border-radius: 50%; /* Esto crea la forma de círculo */
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 50px;
    align-items: center;
    color: #fff;
    margin-right: 90px;
  }

  .recetario{
    border: solid;
    border-radius: 12px;
    display: flex;
    justify-content:space-between;
    margin: 60px !important;
    padding: 150px;
    font-family: sans-serif;
    font-size: 15px;
    
  }

  .receta1{
    height: 400px;
    width: 400px;

  }
  .receta2{
    height: 400px;
    width: 400px;  
}
  .receta3{
    height: 400px;
    width: 400px;
  }

  button{
    font-family: sans-serif;
    font-size: 30px;
    border-radius: 80px;
  }
  button:hover{
    background: #3498db;
    box-shadow: 0px 0px 5px #4444;
    border-radius: 5px;
    transition: all 300ms;
  }



#humedad{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 50px;
    color: black;
    margin-left:20px;
}

#capacidad{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    font-family: sans-serif;
    font-size: 50px;
    color: black;
    margin-left: 0px;
}

